body{
padding: 25px;
background-color: rgb(215, 242, 250);
font-family: 'Secular One', sans-serif;
}

h1{
    color:blue;
    text-align: center;
}

.project_section{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.project_desc{
    width: 50%;
}

.project_video{
    width: 49%;
}

.project_image{
    width: 32%;
}